<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Messenger App - Chat Rooms</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Messenger App - Chat Rooms</h1>
        <div id="chatListSection">
            <h3>Chat Rooms</h3>
            <select id="chatList" size="5">
                <!-- Здесь будут отображаться все групповые чаты -->
            </select>
            <button class="button" id="createChatButton">Create Chat</button>
            <button class="button" id="editChatButton">Edit Chat</button>
            <button class="button" id="deleteChatButton">Delete Chat</button>
        </div>
    </div>

    <script src="{% static 'js/chatrooms.js' %}"></script>
</body>
</html>