{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Приложение для обмена сообщениями</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Приложение для обмена сообщениями</h1>
        <div id="loginSection">
            <h2>Вход</h2>
            <form id="loginForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-field">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-field">
                    <label for="avatar">Аватарка:</label>
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                </div>
                <div class="input-field">
                    <label for="avatarLink">Ссылка на аватар:</label>
                    <input type="url" id="avatarLink" name="avatarLink">
                </div>
                <button class="button" type="submit">Войти</button>
            </form>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>